body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
